
.about-content{
    margin-top: 30px;
}
.aboutme{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Noto Sans Mono', monospace;
}

.bg{
    background: url(image/image_processing20210519-8184-1h9ntux.gif);
    background-size: cover;
    position:relative;
    height:100vh;
      
} 
.header1{
    color: #260033;
}
.paragraph1{
color: #260033;
}

.header-type {
     margin: 150px 150px 150px 150px; 
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:'Noto Sans Mono', monospace;
    font-size: 48px;
    font-weight: 1200;
    
    
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #83a70c 50%, 
        #a1b268 66.666%, 
        #154ec9 66.666%, 
        #6284cc 83.333%, 
        #A7489B 83.333%);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    }
.header-type:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;

}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }
        80% {
            background-size: 650%;
        }
        100% {
            background-size: 650%;
        }
    }

#name{
    color: rgb(255, 255, 255);
}
#contact{
    background-color: #3f3f3f;
    margin-top: 0;
}

#skills{
    background-color: #3f3f3f;

}
.nav-style{
   background: rgba(0, 0, 0, 0.212) !important;
   width: 100%;
   position: fixed;
   top:0;
   left:0;
   z-index: 999;
}
 .nav-link{
    color:darkgrey;
}
.nav-link:hover{
    color: #CA4246;
} 


.about-me{
    clip-path: polygon(100% 1%, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
}

#about{
    height: 100vh;
    background-color: #3f3f3f;
    padding-top: 100px;
}
#pp{
    width: 320px;
    height: 370px;
    border-radius: 50%;
    margin-left: 70px;
    filter: drop-shadow(0 0 0.75rem rgb(243, 239, 240));
}

.ortala{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #260033;
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    border-radius: 14px;
}

#about-content{
    background-color: #990033;
    height: 60vh;
    font-family: 'Noto Sans Mono', monospace;
}
.skills-header{
color: #fff ;
font-family: 'Noto Sans Mono', monospace; 
}


 .about-container{
    height: 100vh;
    width: 100%;
    color: aliceblue !important;
   background-color: rgba(208, 77, 77, 0.403);
   text-align:l;
   clip-path: polygon(36% 48%, 100% 0%, 100% 100%, 55% 100%);
    
     
}
.card-style1{
    color: #F18F43;
}
.card-style2{
color: #83a70c;
}
.card-style3{
    color: #a1b268;
    }
 .card-style4{
        color:#154ec9 ;
  }
  .card-style5{
    color: #6284cc;
 }
 .card-style6{
    color: #A7489B;
    }

.card{
    transition: transform .2s;
}

.card:hover{
    transform: scale(0.90)
}

.border-bottom{
    border-bottom: 2px solid rgb(202, 20, 20)
}

 .card{
    font-family: 'Noto Sans Mono', monospace;  
      color:rgb(251, 248, 248)
   
}

.card-position2{
  position:relative;
  top: 80px;
  left: 50px;
  background-color: #a42d31;
  color: black;
  
}

.cardb1{
    background-color: #bd7c7e;
}


.card-position1{
    position:relative;
    top: 80px;
    right: 60px;
    left: 10px;
    bottom: 10px;
  }

#about {
    color: #fff;
    background-color: #3f3f3f;

}
#about-content {
    border-radius: 14px;
}

.contact-header{
    padding-top: 30px;
    font-family: 'Noto Sans Mono', monospace;
    color:rgb(251, 248, 248)
}

.social-media-links {
text-align: center;
margin-top: 30px;

}